<table class="table">
  <thead class="table table-info">
    <tr>
      <th scope="col">Araç No</th>
      <th scope="col">Marka</th>
      <th scope="col">Renk</th>
      <th scope="col">Araç İsmi</th>
      <th scope="col">Model</th>
      <th scope="col">Günlük Fiyat</th>
      <th scope="col">Açıklama</th>
    </tr>
  </thead>

  <tr *ngFor="let car of cars">
    <td>{{ car.carId }}</td>
    <td>{{ car.brandId }}</td>
    <td>{{ car.colorId }}</td>
    <td>{{ car.carName }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.dailyPrice }}</td>
    <td>{{ car.description }}</td>
  </tr>
  
</table>